<% translate('devise.mailer.confirmation_instructions.body',
             locale: @resource.preference.locale,
             full_name: tag.strong(@resource.full_name)).each do |line| %>
  <p><%= line.html_safe %></p>
<% end %>

<p>
  <%= link_to translate('devise.mailer.confirmation_instructions.link_label',
                        locale: @resource.preference.locale),
              edit_user_confirmation_url(locale: @resource.preference.locale, confirmation_token: @token) %>
</p>
