<% translate('devise.mailer.email_changed.body',
             locale: @resource.preference.locale,
             full_name: tag.strong(@resource.full_name)).each do |line| %>
  <p><%= line.html_safe %></p>
<% end %>

<% if @resource.try(:unconfirmed_email?) %>
  <p>
    <%= translate('devise.mailer.email_changed.unconfirmed_message',
                  locale: @resource.preference.locale,
                  unconfirmed_email: tag.strong(@resource.unconfirmed_email)).html_safe %>
  </p>
<% else %>
  <p>
    <%= translate('devise.mailer.email_changed.confirmed_message',
                  locale: @resource.preference.locale,
                  email: tag.strong(@resource.email)).html_safe %>
  </p>
<% end %>
