<% translate('devise.mailer.password_change.body',
             locale: @resource.preference.locale,
             full_name: tag.strong(@resource.full_name)).each do |line| %>
  <p><%= line.html_safe %></p>
<% end %>
